@font-face {
  font-family: "itfOmniaNaskh";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/noneamasi-jpg/fontmedium/itfOmniaNaskh-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "itfOmniaNaskh";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/noneamasi-jpg/fontmedium/itfOmniaNaskh-Medium.otf") format("opentype");
  font-display: swap;
}

body {
  font-family: "itfOmniaNaskh", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

